<!DOCTYPE html>
<html lang="en">
    <head>
        <title>article</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/article.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body id="<%= article._id %>">

        <div id="article">
            <img src="<%= article.thumbnail %>">
            <div id="article-info">
                <h2>Title: <%= article.title %></h2>
                <p> <b><%= article.content %></b></p>
                <p> <b>Author: <%= article.author.username %></b></p>
                <% for (let image of article.contentImages) { %>
                    <img src="<%= image %>">
                <% } %>
                <p><small>Created At: <%= article.createdAt %></small></p>

                <div id="article-crud">
                    <% if (role == 'admin') { %>
                        <button id="<%= article._id %>" title="Delete Article" class="delete-article"><i class="fa fa-trash-o"></i></button>
                    <% } else if (article.author._id == id) { %>
                        <button id="<%= article._id %>" title="Delete Article" class="delete-article"><i class="fa fa-trash-o"></i></button>
                    <% } %>
                </div>
            </div>
        </div>

        <div id="comment">
                <textarea id="content" cols="30" rows="6" placeholder="comment..."></textarea>
                <input type="text" id="article-id" value="<%= article._id %>" style="display: none;">
                <button id="create-comment">comment</button>
        </div>
    
            <iframe src="http://localhost:3000/comment/all?article=<%= article._id %>" >
            </iframe>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/javascripts/article.js"></script>
    </body>
</html>