<!DOCTYPE html>
<html lang="en">
    <head>
        <title>article</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/article.css">
    </head>
    <body id="<%= article._id %>">

        <div id="article">
            <img src="<%= article.thumbnail %>">
            <div id="article-info">
                <h2>Title: <%= article.title %></h2>
                <p> <b><%= article.content %></b></p>
                <p> <b>Author: <%= article.author.username %></b></p>
                <% for (let image of article.contentImages) { %>
                    <img src="<%= image %>">
                <% } %>
                <p><small>Created At: <%= article.createdAt %></small></p>
            </div>
        </div>

        <div id="comment">
                <textarea id="content" cols="30" rows="6" placeholder="comment..."></textarea>
                <input type="text" id="article-id" value="<%= article._id %>" style="display: none;">
                <button id="create-comment">comment</button>
        </div>
    
            <iframe src="http://localhost:3000/comment/all?article=<%= article._id %>" >
            </iframe>

        <!-- <div>
            <button id="show-modal-btn">Edit article</button>
            <button id="show-delete-article">delete article</button>
        </div> -->

        <!-- <div id="crud-modals">
            <div class="modal" id="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <div>
                    <label for="">Article Thumbnail</label>
                    <input type="file" id="update-article-thumbnail">
                    <label for="">Article Title</label>
                    <input type="text" id="update-article-title">
                    <label for="">Article Description</label>
                    <input type="text" id="update-article-description"> 
                    <label for="">Article Content Image</label>
                    <input type="file" id="update-article-content-image"> 
                    <label for="">Article Content</label>
                    <input type="text" id="update-article-content"> 
                    <button id="update-article">Update User</button>
                  </div>
                </div>
              </div>
        </div> -->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/javascripts/article.js"></script>
    </body>
</html>