<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= user.firstName %>'s profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
  </head>

  <body id="<%= user._id %>">
    <div class="sidebar">
      <div class="profile">
        <div class="profile-photo">
          <img src="<%= user.avatar %>" alt="Profile Photo">
          <button id="edit-photo-icon">
            <i class="fas fa-pencil-alt" title="Edit profile photo"></i>
          </button>
          <form id="myForm" action="/user/uploadAvatar" enctype="multipart/form-data" method="post">
            <input type="file" name="avatar" id="fileToUpload">
          </form>
        </div>

        <h2 id="profile-name"><%= user.username %></h2>

        <button id="show-user-setting" class="btn">User Setting</button>
        
        <div class="modal" id="myModal-setting">
          <div class="modal-content content-setting">
            <span class="close close-setting">&times;</span>
            <button id="show-user-info" class="btn">Account Info</button>
            <button id="show-user-update" class="btn">Update Info</button>
            <button id="show-user-delete" class="btn">Delete Account</button>
          </div>
        </div>

        <div class="modal" id="myModal-info">
          <div class="modal-content content-info">
            <span class="close close-info">&times;</span>
            <p id="firstName"><b>First Name:</b> <%= user.firstName %></p>
            <p id="lastName"><b>Last Name:</b> <%= user.lastName %></p>
            <p id="username"><b>UserName:</b> <%= user.username %></p>
            <p id="gender"><b>Gender:</b> <%= user.gender %></p>
            <p id="phoneNumber"><b>Phone Number:</b> <%= user.phoneNumber %></p>
            <b></b>
          </div>
        </div>

        <div class="modal" id="myModal-update">
          <div class="modal-content content-update">
            <span class="close close-update">&times;</span>
            <form id="update-user" class="form">
              <label for="update-user-firstName">First Name</label>
              <input type="text" id="update-user-firstName">
              <label for="update-user-lastName">Last Name</label>
              <input type="text" id="update-user-lastName">
              <label for="update-user-password">Password</label>
              <input type="password" id="update-user-password">
              <label for="update-user-gender">Gender</label>
              <select id="update-user-gender">
                <option value="<%= user.gender %>" hidden selected><%= user.gender %></option>
                <option value="not-set">not-set</option>
                <option value="male">male</option>
                <option value="female">female</option>
              </select>
              <label for="update-user-phoneNumber">Phone Number</label>
              <input type="text" id="update-user-phoneNumber">
              <button type="submit" class="btn">Update User</button>
            </form>

          </div>
        </div>

        <div class="modal" id="myModal-delete">
          <div class="modal-content content-delete">
            <span class="close close-delete">&times;</span>
            <h3>Are you sure?</h3>
            <form id="delete-user">
              <button type="submit" class="btn">Yes</button>
            </form>
            <button class="btn close-delete">No</button>
          </div>
        </div>

      </div>


      <form action="/user/logout" method="get" id="logout">
        <button type="submit" class="btn">Log Out</button>
      </form>
    </div>

    <div id="article-container">
      <div id="article-menu">
        <button id="explore-btn">Explore</button>
        <button id="my-articles-btn">My Articles</button>
        <button id="create-article">+</button>
        <% if (user.role == 'admin') { %>
          <button id="admin-panel">Admin Panel</button>
        <% } %>
      </div>

      <div class="modal" id="myModal-article">
        <div class="modal-content content-article form" action="/article/" method="post" enctype="multipart/form-data">
          <span class="close close-article">&times;</span>
          <form class="form">
            <label>Thumbnail</label>
            <input class="btn" type="file" id="create-article-thumbnail" name="thumbnail">
            <label>Title</label>
            <input type="text" id="create-article-title" name="title">
            <label>Content</label>
            <input type="text" id="create-article-content" name="content">
            <label>Author</label>
            <input type="text" id="create-article-author" name="author" value="<%= user.username %>">
            <button class="btn" type="submit">Create Article</button>
          </form>
          </div>
      </div>

      <div id="articles">
        <iframe src="http://localhost:3000/article/all"></iframe>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>